/* #all {
    width: 100%;
    height: 100%;
} */

.premligne {
    width: 100%;
    height: 24px;
    /* background-color: rgba(0, 255, 255, 0.199); */
    display: flex;
}

.premligne div {
    width: 24px;
    height: 24px;
    /* background-color: rgba(0, 0, 255, 0.317); */
    /* border: 1px solid; */
}

.black {
    background-color: black;
}

.green {
    background-color: green;
}

.orange {
    background-color: rgb(237, 159, 16);
}

.lightOrange {
    background-color: rgba(255, 166, 0, 0.803);
}

.yellow {
    background-color: rgba(248, 211, 2, 0.753);
}

.blue {
    background-color: rgba(3, 20, 131, 0.989);
}

.white {
    background-color: rgb(204, 216, 225);
}